:root {
    --blue: #203f71;
    --black: #202124;
    --gray: #5f6368;
    --white: #ffffff;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*::before,
*::after {
    box-sizing: inherit;
}

[data-theme="light"] {
    --body-surface: rgba(241, 244, 251, 1);
    --screen-text: rgba(27, 27, 31, 1);
    --number-surface: rgba(255, 255, 255, 1);
    --number-text: rgba(24, 24, 24, 1);
    --symbol-surface: rgba(196, 232, 255, 1);
    --symbol-text: rgba(24, 24, 24, 1);
    --theme-btn: rgba(69, 77, 84, 1);
    --theme-btn-hover: rgba(34, 38, 42, 1);
}

[data-theme="dark"] {
    --body-surface: rgba(32, 42, 48, 1);
    --screen-text: rgba(225, 227, 223, 1);
    --number-surface: rgba(255, 255, 255, 0.078);
    --number-text: rgba(255, 255, 255, 1);
    --symbol-surface: rgba(168, 198, 255, 1);
    --symbol-text: rgba(8, 45, 109, 1);
    --theme-btn: rgba(171, 179, 186, 1);
    --theme-btn-hover: rgba(226, 230, 233, 1);
}

html {
    color-scheme: light;
}

html[data-theme="dark"] {
    color-scheme: dark;
}

html,
body {
    max-inline-size: 100%;
    font-family: sans-serif;
}

body {
    font-size: 16px;
    color: var(--gray);
    background: var(--body-surface);
    font-family: 'Inter Tight', sans-serif;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: transparent;
}

::-webkit-scrollbar {
    display: none;
}

img {
    max-width: 100%;
}

ol,
ul {
    list-style: none;
}

a {
    text-decoration: none;
    cursor: pointer;
}

button {
    border: none;
    outline: none;
    cursor: pointer;
    background: transparent;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .75rem;
}

header h1 {
    font-size: 1.25rem;
    font-weight: 500;
    color: var(--screen-text);
    letter-spacing: .02em;
    display: flex;
    align-items: center;
    gap: .5rem;
}

.theme-btn {
    --ease-1: cubic-bezier(.25, 0, .3, 1);
    --ease-2: cubic-bezier(.5, 1.25, .75, 1.25);
    --ease-3: cubic-bezier(.5, 1.5, .75, 1.25);
    --ease-4: cubic-bezier(0, 0, 0, 1);
    width: 1.75rem;
    height: 1.75rem;
    border-radius: 50%;
    pointer-events: auto;
}

.theme-btn .sun-and-moon {
    inline-size: 100%;
    block-size: 100%;
    stroke-linecap: round;
}

.theme-btn .sun-and-moon > .moon,
.theme-btn .sun-and-moon > .sun,
.theme-btn .sun-and-moon > .sun-beams {
    transform-origin: center center;
}

.theme-btn .sun-and-moon > .moon,
.theme-btn .sun-and-moon > .sun {
    fill: var(--theme-btn);
}

.theme-btn:hover .sun-and-moon > .moon,
.theme-btn:hover .sun-and-moon > .sun,
.theme-btn:focus-visible .sun-and-moon > .moon,
.theme-btn:focus-visible .sun-and-moon > .sun {
    fill: var(--theme-btn-hover);
}

.theme-btn .sun-and-moon > .sun-beams {
    stroke: var(--theme-btn);
    stroke-width: 2px;
}

.theme-btn:hover .sun-and-moon > .sun-beams,
.theme-btn:focus-visible .sun-and-moon > .sun-beams {
    stroke: var(--theme-btn-hover);
}

[data-theme="dark"] .theme-btn .sun-and-moon > .sun {
    transform: scale(1.75);
}

[data-theme="dark"] .theme-btn .sun-and-moon > .sun-beams {
    opacity: 0;
}

[data-theme="dark"] .theme-btn .sun-and-moon > .moon > circle {
    transform: translate(-7px);
}

@supports (cx: 1) {
    [data-theme="dark"] .theme-btn .sun-and-moon > .moon > circle {
        transform: translate(0);
        cx: 17;
    }
}

@media (prefers-reduced-motion: no-preference) {
    .theme-btn .sun-and-moon > .sun {
        transition: transform .5s var(--ease-2);
    }

    .theme-btn .sun-and-moon > .sun-beams {
        transition: transform .5s var(--ease-3), opacity .5s var(--ease-1);
    }

    .theme-btn .sun-and-moon > .moon > circle {
        transition: transform .25s var(--ease-4);
    }

    @supports (cx: 1) {
        .theme-btn .sun-and-moon > .moon > circle {
            transition: cx .25s var(--ease-4);
        }
    }

    [data-theme="dark"] .theme-btn .sun-and-moon > .sun {
        transform: scale(1.75);
        transition-timing-function: var(--ease-1);
        transition-duration: .25s;
    }

    [data-theme="dark"] .theme-btn .sun-and-moon > .sun-beams {
        transform: rotate(-25deg);
        transition-duration: .15s;
    }

    [data-theme="dark"] .theme-btn .sun-and-moon > .moon > circle {
        transition-delay: .25s;
        transition-duration: .5s;
    }
}

.gallery {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: 15vw;
    gap: .1875rem;
    margin-bottom: 3.25rem;
}

.item {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    cursor: pointer;
    overflow: hidden;
}

.item-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.6), transparent);
    padding: .5rem;
}

.item-footer .flex {
    display: flex;
    align-items: center;
    gap: .25rem;
}

.item-footer .flex img {
    width: 1.875rem;
    height: 1.875rem;
    display: block;
    object-fit: cover;
    border-radius: 50%;
}

.item-footer .flex .column {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.item-footer .column h3 {
    font-size: .975rem;
    font-weight: 500;
    color: var(--white);
    line-height: 1.1;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}

.item-footer .column p {
    font-size: .925rem;
    font-weight: 300;
    color: var(--white);
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}

.loader {
    position: fixed;
    bottom: 1.5rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1001;
    display: none;
}

.loader.visible {
    display: flex;
    align-items: center;
    justify-content: center;
}

.dots {
    position: relative;
    left: -9999px;
    width: .575rem;
    height: .575rem;
    border-radius: 50%;
    background: var(--number-text);
    color: var(--number-text);
    box-shadow: 9999px 0 0 -5px;
    animation: dots 1.5s infinite linear;
    animation-delay: .25s;
}

.dots::before,
.dots::after {
    content: '';
    display: inline-block;
    position: absolute;
    top: 0;
    width: .575rem;
    height: .575rem;
    border-radius: 50%;
    background: var(--number-text);
    color: var(--number-text);
}

.dots::before {
    box-shadow: 9984px 0 0 -5px;
    animation: dots-before 1.5s infinite linear;
    animation-delay: 0s;
}

.dots::after {
    box-shadow: 10014px 0 0 -5px;
    animation: dots-after 1.5s infinite linear;
    animation-delay: .5s;
}

dialog {
    position: fixed;
    top: 0;
    left: 0;
    inset-block-start: 0px;
    inset-inline-start: 0px;
    padding: 0 .5rem;
    display: none;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    block-size: 100%;
    max-block-size: none;
    inline-size: 100%;
    max-inline-size: none;
    margin: 0;
    border: none;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
    background-color: transparent;
    transition: opacity 0s ease 0s;
    will-change: opacity;
}

dialog::backdrop {
    display: none;
}

dialog.expanded {
    display: flex;
    pointer-events: auto;
    opacity: 1;
    visibility: visible;
    transition-duration: .15s;
    transition-property: opacity;
    transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
}

.dialog-scrim {
    position: fixed;
    inset: 0px;
    overflow-y: scroll;
    overscroll-behavior: contain;
    block-size: 100%;
    inline-size: 100%;
    pointer-events: inherit;
    visibility: visible;
    z-index: 1000;
    background: rgba(0, 0, 0, .6);
    -webkit-tap-highlight-color: transparent;
}

.dialog-scrim::after {
    content: '';
    display: block;
    block-size: 200%;
    inline-size: 200%;
}

.dialog-container {
    position: relative;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    max-block-size: 85%;
    max-inline-size: 600px;
    inline-size: 100%;
    flex-shrink: 1;
    transform: scale(1);
    transform-origin: center bottom;
    z-index: 1000;
    background: var(--body-surface);
    will-change: display, transform;
    border-radius: .5rem;
}

dialog.expanded .dialog-container {
    animation-name: scaleUp;
    animation-duration: .15s;
}

.dialog-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5rem;
}

.dialog-header a {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: .5rem;
    font-family: 'Inter Tight', sans-serif;
}

.dialog-header a img {
    width: 2rem;
    height: 2rem;
    display: block;
    object-fit: cover;
    border-radius: 50%;
}

.dialog-header a .column {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.dialog-header a h3 {
    font-size: .975rem;
    font-weight: 500;
    color: var(--screen-text);
    letter-spacing: .02em;
}

.dialog-header a p {
    font-size: .925rem;
    font-weight: 400;
    color: var(--screen-text);
    letter-spacing: .02em;
    opacity: .7;
}

.dialog-header button {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--screen-text);
}

.dialog-header button i {
    font-variation-settings: 'wght' 300;
}

.dialog-content {
    display: flex;
    max-block-size: 100%;
    overflow: hidden;
}

.dialog-content img {
    display: block;
    object-fit: cover;
}

.dialog-footer {
    padding: .5rem;
    position: relative;
}

.dialog-footer .row {
    display: flex;
    align-items: center;
    margin-bottom: .5rem;
}

.dialog-footer .row .column {
    flex: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dialog-footer button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.dialog-footer button .material-symbols-rounded {
    color: var(--screen-text);
    font-variation-settings: 'wght' 300;
}

.dialog-footer a {
    display: flex;
    align-items: center;
    justify-content: center;
}

.dialog-footer a .material-symbols-rounded {
    color: var(--screen-text);
    font-variation-settings: 'wght' 300;
}

.dialog-footer h3 {
    font-size: .975rem;
    font-weight: 500;
    color: var(--screen-text);
    letter-spacing: .02em;
}

.dialog-footer h4 {
    font-size: .975rem;
    font-weight: 400;
    color: var(--screen-text);
    letter-spacing: .02em;
    margin-bottom: .325rem;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}

.dialog-footer h4 strong {
    font-weight: 500;
    color: var(--screen-text);
}

.dialog-footer h5 {
    font-size: .825rem;
    font-weight: 400;
    color: var(--screen-text);
    letter-spacing: .02em;
    opacity: .7;
    margin-bottom: .25rem;
}

.toast {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: start;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background: var(--body-surface);
    font-size: .925rem;
    font-weight: 500;
    color: var(--screen-text);
    border-radius: .5rem;
    padding: .625rem .875rem;
    opacity: 0;
    transition: all .25s ease-in-out;
    white-space: nowrap;
    max-inline-size: 50%;
    pointer-events: none;
    z-index: 10002;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}

.toast.active {
    opacity: 1;
    bottom: 1.5rem;
}

@media screen and (max-width: 768px) {
    .item:nth-child(15n + 1) {
        grid-column: span 12;
        grid-row: span 6;
    }

    .item:nth-child(15n + 2) {
        grid-column: span 6;
        grid-row: span 4;
    }

    .item:nth-child(15n + 3) {
        grid-column: span 6;
        grid-row: span 4;
    }

    .item:nth-child(15n + 4) {
        grid-column: span 12;
        grid-row: span 5;
    }

    .item:nth-child(15n + 5) {
        grid-column: span 6;
        grid-row: span 4;
    }

    .item:nth-child(15n + 6) {
        grid-column: span 6;
        grid-row: span 4;
    }
    
    .item:nth-child(15n + 7) {
        grid-column: span 6;
        grid-row: span 4;
    }

    .item:nth-child(15n + 8) {
        grid-column: span 6;
        grid-row: span 4;
    }

    .item:nth-child(15n + 9) {
        grid-column: span 12;
        grid-row: span 4;
    }

    .item:nth-child(15n + 10) {
        grid-column: span 12;
        grid-row: span 5;
    }

    .item:nth-child(15n + 11) {
        grid-column: span 6;
        grid-row: span 4;
    }

    .item:nth-child(15n + 12) {
        grid-column: span 6;
        grid-row: span 4;
    }

    .item:nth-child(15n + 13) {
        grid-column: span 12;
        grid-row: span 5;
    }

    .item:nth-child(15n + 14) {
        grid-column: span 6;
        grid-row: span 4;
    }

    .item:nth-child(15n + 15) {
        grid-column: span 6;
        grid-row: span 4;
    }
}

@media screen and (min-width: 768px) {
    .item:nth-child(15n + 1) {
        grid-column: span 6;
        grid-row: span 3;
    }

    .item:nth-child(15n + 2) {
        grid-column: span 6;
        grid-row: span 2;
    }

    .item:nth-child(15n + 3) {
        grid-column: span 3;
    }

    .item:nth-child(15n + 4) {
        grid-column: span 3;
    }

    .item:nth-child(15n + 5) {
        grid-column: span 3;
        grid-row: span 2;
    }

    .item:nth-child(15n + 6) {
        grid-column: span 3;
        grid-row: span 1;
    }

    .item:nth-child(15n + 7) {
        grid-column: span 6;
        grid-row: span 2;
    }

    .item:nth-child(15n + 8) {
        grid-column: span 3;
        grid-row: span 1;
    }

    .item:nth-child(15n + 9) {
        grid-column: span 4;
        grid-row: span 2;
    }

    .item:nth-child(15n + 10) {
        grid-column: span 4;
        grid-row: span 2;
    }

    .item:nth-child(15n + 11) {
        grid-column: span 4;
        grid-row: span 2;
    }

    .item:nth-child(15n + 12) {
        grid-column: span 6;
        grid-row: span 3;
    }

    .item:nth-child(15n + 13) {
        grid-column: span 6;
        grid-row: span 2;
    }

    .item:nth-child(15n + 14) {
        grid-column: span 3;
    }

    .item:nth-child(15n + 15) {
        grid-column: span 3;
    }

    .dialog-header {
        padding: .75rem;
    }

    .dialog-footer {
        padding: .5rem .75rem 1rem;
    }
}

@keyframes dots-before {
    0% {
        box-shadow: 9984px 0 0 -5px;
    }

    30% {
        box-shadow: 9984px 0 0 2px;
    }

    60%,
    100% {
        box-shadow: 9984px 0 0 -5px;
    }
}

@keyframes dots {
    0% {
        box-shadow: 9999px 0 0 -5px;
    }

    30% {
        box-shadow: 9999px 0 0 2px;
    }

    60%,
    100% {
        box-shadow: 9999px 0 0 -5px;
    }
}

@keyframes dots-after {
    0% {
        box-shadow: 10014px 0 0 -5px;
    }

    30% {
        box-shadow: 10014px 0 0 2px;
    }

    60%,
    100% {
        box-shadow: 10014px 0 0 -5px;
    }
}

@keyframes scaleUp {
    0% {
        transform: scale(0)
    }

    100% {
        transform: scale(1);
    }
}
